.no-response{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 360px;
      margin-top: 42px;

      @media only screen and (max-width: 380px){
        width: 220px;
      }
    }
  }