.history-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;

    label {
        font-weight: 600;
    }
    
    input {
        height: 36px;
        padding: 0 10px;
        text-align: center;
        min-width: 80px;
        width: 140px;
        border-radius: 10px;
        margin: 0 0 20px 16px;
        border: solid 2px var(--light-grey);
    }

    .historyHeader {
        display: flex;
        justify-content: space-around;
        margin-right: 21.5%;
        padding-bottom: 10px;
        padding-right: 16px;
    
        h1 {
            font-weight: 700;
            font-size: 16px;
        }
    }

    hr {
        color: black;
    }

    .table-body {
        .command {
            display: flex;
            justify-content: space-around;
            padding: 20px;
    
            h2 {
                font-size: 16px;
            }
    
            .viewButton {
                height: 16px;
                cursor: pointer;
            }
        }
    
        hr {
            color: lightgrey;
        }
    }

    .modal {
        .modal-container {
            .modal-header {
                width: 100%;
                border-radius: 15px 15px 0 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #F2BE95;
                padding: 16px 20px;

                .modal-title {
                    display: flex;
                    gap: 6px;
                    align-items: flex-end;

                    p {
                        margin-bottom: 3px;
                        font-weight: 600;
                    }

                    h2 {
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }

            .modal-content {
                padding: 20px;
                overflow: auto;
            }

            *::-webkit-scrollbar-track {
                border-radius: 0 0 20px 20px !important;
                margin-bottom: 6px;
            }

            h3 {
                margin-bottom: 12px;
                color: #E5802F;
                font-size: 18px;
            }

            .detalhesInformaçõesGerais {
                display: flex;
                column-gap: 20px;
                row-gap: 10px;
                margin: 0 0 30px 16px;
            }

            @media screen and (max-width: 600px) {
                .detalhesInformaçõesGerais {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            @media screen and (max-width: 375px) {
                .detalhesInformaçõesGerais {
                    grid-template-columns: 1fr;
                }
            }

            .detalhesInformaçõesPedido {
                margin-left: 16px;

                .value-column{
                    min-width: 70px;
                }
            }
        }
    }

    .loaderWrapper{
        box-sizing: border-box;
    }
}