@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body, html, button {
  font-family: 'Lato', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  border: none;
}

// reset do css
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --white: #FFFFFF;
  --off-white: #FAFAFA;
  --black: #000000;
  --off-black: #2C2C2C;
  --light-orange: #FADAC2;
  --medium-light-orange: #F2BE95;
  --regular-orange: #E5802F;
  --regular-orange-hover: #DA721C;
  --dark-orange: #D34F05;
  --dark-orange-hover: #C34B05;
  --light-grey: #EEEEEE;
  --medium-grey: #9D9D9D;
}