header.flat-header {
  background: var(--regular-orange);
  display: flex;
  align-items: center;
  gap: 40px;
  height: 70px;
  box-shadow: 0 2px 10px #0000001c;
  width: 100%;

  .go-back-button {
    position: absolute;
    left: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.3);
  
    .go-back-button-icon {
      color: var(--white);
    }
  
    &:hover{
      background: var(--light-orange);
    }
  }

  p {
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    margin: 0 auto;
  }
}